
footer {
	// padding: 3rem;
	background: $gray-dark;

	a {
		color: $gray-medium-light;
		// text-decoration: underline;

		&:hover {
			color: $white;
		}
	}
}

.logos {

	margin-bottom: 3em;
	text-align: center;

	.oce-logo {
		width: 183px;
	}

	img {
		// width: 50%;
		width: 150px;
		margin: 2em 0 1em;
		// display: inline-block;
	}
}

.address, .email, .legal {
	text-align: center;
	margin: 1rem;
}

.address > *, .email > * {
	color: $white;
	margin-bottom: .25rem;
}

.legal > * {
	color: $gray-medium-light;
	display: inline-block;
	margin: .33rem;
}