
footer {
	// padding: 3rem;
	background: $gray-dark;

	a {
		color: $gray-medium-light;
		// text-decoration: underline;

		&:hover {
			color: $white;
		}
	}
}

.address, .legal {
	text-align: center;
	margin: 1rem;
}

.address > * {
	color: $white;
	margin-bottom: .25rem;
}

.legal > * {
	color: $gray-medium-light;
	display: inline-block;
	margin: .33rem;
}