
header {
	background: $white;

}

.text-size-bar {
	background: $gray-extra-light;
	@include clearfix;
	padding: .10em 0;
}

.text-size-control {
	float: right;
	padding: .5rem;
	
	@include media($medium-screen-up) {
		margin-right: 1.5em;
	}
}

.text-size, #text-size-increase, #text-size-decrease {
	vertical-align: center;
}

.text-size {
	display: inline;
	margin-right: 1rem;
}

#text-size-increase, #text-size-decrease {
	background-color: $white;
	padding: .5rem .75rem;
	color: $black;
	box-shadow: $box-shadow;
	margin-top: -7px;

	&:hover {
		background-color: $green-light;
		color: $white;
	}
}

.logo-bar {

}

.logo {
	width: 180px;
	display: inline-block;
    position: relative;
    left: 50%;
	margin: 1rem 0;
    margin-left: -90px;

	@include media($medium-screen) {
		width: 240px;
		left: 0%;
		margin-left: 1.5em;
	}

	@include media($large-screen) {
		// width: 300px;
		// margin-left: -150px;
	}
}


nav {

	@include media($mobile-only) {
		display: block;
		text-align: center;
		background: $gray-light;
	}

	@include media($medium-screen) {
		display: inline;
		float: right;
		margin-right: 2em;
	    margin-top: 20px; // to baseline align it with the Steadiwear text in the logo		
	}

	.nav-item {
		margin-bottom: 0;
		padding: .55em;
	}

	a {
		color: $gray-medium;
		transition: all .25s ease-in-out;

		&:hover {
			color: $green-dark;
			border-bottom: 2px solid $green-dark;
		}


	}


}











