

section.hero {
	background: url('../images/thumbs-up-hand.jpg') 55% 50% no-repeat;
	background-size: cover;

	padding: 2rem 1.5rem;

	@include media($medium-screen-up) {
		background: url('../images/thumbs-up-hand.jpg') 40% 60% no-repeat;
		background-size: cover;

		padding: 5rem 3rem;
	}

	@include media($large-screen-up) {
		background: url('../images/thumbs-up-hand.jpg') 20% 70% no-repeat;
		background-size: cover;

		padding: 7rem 3rem;
	}

}

h1 {
	margin-bottom: 1rem;
	line-height: 1;
}

.cta {
	@include span-columns(7.25);

	@include media($medium-screen-up) {
		@include span-columns(7);
	}
	@include media($large-screen-up) {
		@include span-columns(6);
	}


	.mailing-list {
		margin-top: 1.5rem;

		@include media($medium-screen-up) {
			margin-top: 2.5rem;
		}
	}

	.sign-up-form {


		input, button {
			display: inline;
		}
		input {
			@include span-columns(7);
			padding: .6em;
		}
		button {
			margin-left: -1rem;
			@include span-columns(5);
			@include omega();
			padding: .75em .25em;
		}
	}
}