header, section, footer {
}

section, footer {
	padding: 3rem 1.5rem;

	@include media($medium-screen-up) {
		padding: 3rem;
	}
}


.container {
	@include outer-container;
}

html {

	font-size: 80%;

	@include media($medium-screen-up) {
		font-size: 100%;
	}
}

body.larger-size {
	font-size: 133%;
}

body.smaller-size {
	font-size: 75%;
}


// tweaked (flatter) type scale for mobile

@include media($mobile-only) {

	h1 {
	  font-size: $base-font-size * 2.441;
	  font-weight: 600;
	  color: $green-dark;
	}
	h2 {
	  font-size: $base-font-size * 1.953;
	  font-weight: 600;
	}
	h3 {
	  font-size: $base-font-size * 1.563;
	  font-weight: 400;
	}
	h4 {
	  font-size: $base-font-size * 1.25;
	  font-weight: 400;
	}
	h5 {
	  font-size: $base-font-size * 1;
	  font-weight: 400;
	}
	h6 {
	  font-size: $base-font-size * .8;
	  font-weight: 400;
	}
}