




section.newsletter {
	background: url('../images/clay-hands.jpg') 50% 68% no-repeat;
	background-size: cover;
	position: relative;
	// margin: -5px;

	&:before {
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,255,255,.62);
	}

	@include media($medium-screen-up) {
		margin: 35px;

		&:before {
			background: rgba(255,255,255,.1);
		}
	}
}

.newsletter-signup-form {

	text-align: center;
	position: relative;
	z-index: 2;
	padding: 4rem 2rem;
	border-radius: $base-border-radius/2;

	@include span-columns(12);
	// @include shift(1);

	@include media($medium-screen-up) {
		padding: 3rem 1.5rem;
		background: rgba(255,255,255,1);
		margin: 10rem 0 8rem;
		@include span-columns(8);
		@include shift(2);


	}
	@include media($large-screen-up) {
		padding: 6rem 3.5rem;
		@include span-columns(6);
		@include shift(3);
	}


	h4 {
		text-shadow: $light-text-shadow;
	}

	.sign-up-form {

		input, button, div  {
			display: block;
		}
		input[type="email"] {
			padding: .6em;
			width: 100%;
			margin-top: 1em;


			@include placeholder {
				text-align: center;
			}

			@include media($medium-screen-up) {
				width: 82%;
				margin-top: 2rem;
			}

		}
		input[type="submit"] {
			padding: .75em .25em;
			margin: 0;
			width: 100%;

			@include media($medium-screen-up) {
				float: none;
				clear: both;
				margin: 0 auto;
				display: inline;
				width: 82%;
			}
		}
	}
}