
section.survey {
	background: $white;

	* {
		text-align: center;
	}

}

.survey-button {
	font-size: $base-font-size * 1.563; // from type scale, matches an h3
	padding: 1rem 1.5rem;
	margin-bottom: 2rem;

	@include media($medium-screen-up) {
		padding: 1rem 4rem;
	}
}

.survey-intro, .feedback-reason {
	
	@include media($medium-screen-up) {
		@include span-columns(10);
		@include shift(1);
	}
	@include media($large-screen-up) {
		@include span-columns(8);
		@include shift(2);
	}
}

.feedback-reason {
	color: $gray-medium;
	
	// @include media($medium-screen-up) {
	// 	@include span-columns(8);
	// 	@include shift(2);
	// }
	// @include media($large-screen-up) {
	// 	@include span-columns(6);
	// 	@include shift(3);
	// }

}

