
.team {
	background: $gray-extra-light;
}

.team-title, .advisors-title {
	text-align: center;
	position: relative;
	margin-bottom: 1em;
	border-bottom: 3px solid $gray-medium;
	display:inline-block;
	text-align: center;

	// &:after {
	// 	position: absolute; 
	// 	bottom: 0.25em;
	// 	left: 50%;
	// 	margin-left: -10px;
	// 	content: '';
	// 	border-style: solid;
	// 	border-width: 14px 10px 0 10px;
	// 	border-color: $gray-medium-lightest transparent transparent transparent;
	// }
}

.team-list, .advisors-list {

	margin: 0 0 3em;

	@include outer-container;

	li {
		@include span-columns(12);

		background: white;
		padding: 1em;
		margin-bottom: 2em;
		box-shadow: 2px 2px 0px 2px rgba(0,0,0,.12);
		min-height: 8em;

		@include media($medium-screen) {
			@include span-columns(6);
			@include omega(2n);
		}
		@include media($large-screen) {
			@include omega-reset(2n);
			@include span-columns(4);
			@include omega(3n);
		}
	}

	.name {
		margin-bottom: .25em;
	}

	.title {
		margin-bottom: 0;
	}

	.description {
		color: $gray-medium-light;
		margin-bottom: 0;
	}

}