body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  // font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: $base-font-size * 4.498;
  font-weight: 600;
  color: $green-dark;
}
h2 {
  font-size: $base-font-size * 3.327;
  font-weight: 300;
  font-style: italic;
  color: $gray-medium;
  line-height: .9;
}
h3 {
  font-size: $base-font-size * 1.999;
  font-weight: 400;
}
h4 {
  font-size: $base-font-size * 1.414;
  font-weight: 400;
}
h5 {
  font-size: $base-font-size * 1;
  font-weight: 400;
}
h6 {
  font-size: $base-font-size * .707;
  font-weight: 400;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  margin: $base-spacing/2 0;
  width: 3rem;
  border: 3px solid #fff;
  box-shadow: $hr-box-shadow;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

strong {
  font-weight: 600;
}

.letter-spacing-increase {
  letter-spacing: .02em;
}

.letter-spacing-increase-2x {
  letter-spacing: .06em;
}
