// Typography
$base-font-family: "proxima-nova", $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$black: #04040F;
$gray-dark: #2D3A3A;
$gray-medium-dark: #999E99;
$gray-medium: #666666;
$gray-light: #DDDDDD;
$gray-extra-light: #F4F4F4;
$white: #FCFCFF;
$green-light: #2BA84A;
$green-dark: #248232;

// Font Colors
$base-font-color: $gray-dark;
$action-color: $green-dark;

// Border
$base-border-color: $gray-light;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Shadows
$box-shadow: .25px .5px 3px rgba(0,0,0,.12);
